* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



.logo {
    width: 110px;
    height: 110px;
}

 
header{
    width: 100%;
    height: 110px;
    background-color: rgb(9,11,32,255); 
}

body {
    background-color:#032F6E ;
}

.containerimg {
    margin-left: 130px;
    width: 500px;
    height: 500px;
    margin-top: 30px;

}

h1 {
    color: white;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


h2 {
    color: white;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
}


.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.containertext {
    width: 500px;
    height: 500px;
    margin-left: 750px;
}



